.main {
    padding-top: 50px;
}

.dimmed-page {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as desired */
    transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
}